.card {
  position: relative;
  min-width: 6rem;
  caret-color: transparent;
  padding-left: 0;
}

.imageWrapper {
  img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px #0c0c0c;
  }
}

.imageWrapper::after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, transparent, rgba(4, 4, 4, 0.653));
  height: 100%;
  width: 100%;
  border-radius: 15px;
  max-width: 100%;
  top: 0;
  left: 0;
}

.detailsContainer {
  font-size:  calc(4px + 1vw);
  position: absolute;
  color: #ffffff;
  top: 70%;
  left: 40%;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  transform: translate(-50%, -50%);

  p {
    line-height: 30%;
  }
}
